/*main dashboard*/
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background: #F0EEEE;
}
.D-heading{
	width: 100%;
	float: right;
	height: 10vh;
	background: lightgrey;
}
.profile{
	width: 10%;
	display: inline-block;
	margin-left: 30px;
	float: left;
	
}

.sidenav{
	width: 20%;
	background:lightgrey;
	height: 100%;
	position: fixed;
	padding-top: 20px;
	overflow: hidden;

}
.mysidenav{
	margin-top: 70px;
	margin-left: 0px;
}
.D-title p{
	font-size: 40px;
	font-family:Lobster;
	color: black;
	margin-left: 15px;
}
 .Dlogo{
	font-size: 30px;
	font-family: PT Serif;
	margin-left: 20px;
	color: black;
}
.mysidenav a{
	padding: 12px 8px 12px 33px;
	text-decoration: none;
	font-size: 20px;
	font-family: Kanit;
	color: black;
	display: block;
	transition: 0.5s;
}
.mysidenav a:hover{
	color: #183A1D;
	background: #FFE7BF;
}
/*dashboard*/
#D-main{
	padding: 16px;
	margin-left: 300px;
	width: 70%;
	height: 40vh;
}
.D-head{
	padding-left: 0px;
}
.col-div{
	width: 78%;
	float: left;

}
.col-div p{
	margin-top: 30px;
	width: 120px;
	font-size: 40px;
	font-family: PT Serif;
}
.col-div-1{
	width: 33%;
	float: left;
	margin-top: 5px;
}
.D-Box{
	margin-top: 25px;
	width: 80%;
	height: 118px;
	background-color: white;
	margin-left: 30px;
	border-left: 10px solid #47A992;
}
.D-Box #num{
	width: 24px;
	font-size: 25px;
	font-family: Outfit;
	margin-left: 32px;
	padding-top: 105px;
	color: #025464;
}
#num1{
	width: 233px;
	color: red;
	text-decoration: none;
	font-size: 25px;
	font-family: PT Serif;
	margin-left: 20px;
	padding-top: 12px;
}
#icon-b{
	width: 50px;
	font-size: 50px;
	margin-left: 90px;
	color: gray;
	padding-top: 10px;
}
#icon-c{
	width: 60px;
	font-size: 40px;
	margin-left: 90px;
	color: gray;
	padding-top: 10px;
}
#icon-d{
	width: 48px;
	font-size: 40px;
	margin-left: 90px;
	color: gray;
	padding-top: 10px;
}
/*.col-div-2{
	width: 30%;
	float: left;
	margin-top: 25px;
}
.D-Box1{
	margin-top: 15px;
	width: 85%;
	height: 150px;
	background-color: #11009E;
	margin-left: 70px;
}
.D-Box1 #nums{
	width: 24px;
	font-size: 40px;
	font-family: Lobster;
	margin-left: 126px;
	padding-top: 15px;
	color: white;
}
.D-Box1 #nums1{
	width: 233px;
	color: white;
	font-size: 28px;
	font-family: PT Serif;
	margin-left: 38px;
	margin-top: 9px;
}*/
.table-responsive{
	width: 77.7%;
}
.table-responsive p{
	font-size: 30px;
	margin-left: 350px;
}
.dataTable{
	width: 80%;
	margin-left: 348px;
	margin-top: 15px;

}

/*admin login*/
.admin-background{
	background:url(img/blue.jpg);
	background-size: cover;
	width: 99%;
	background-blend-mode: darken;
}
.login-box{
	width: 380px;
/*	background-color: rgba(0, 0, 0, 0.1);*/
	margin: auto;
	height: 380px;
	margin-top: 90px;
	border-radius: 23px;
}
.login-box h1{
	text-align: center;
	color: white;
	margin-top: 50px;
	padding-top: 20px;
	font-size: 40px;
	font-weight: 1200;
}
.login-box .input-form{
	width: 320px;
	margin-left: 30px;
}
.login-box .input-form input{
	width: 100%;
	height: 46px;
	border: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-bottom: 18px;
	font-size: 20px;
}
::placeholder{
	color: white;
	padding-left: 20px;
}
.login-box .form-rem{
	width: 5%;
	border: none;
	display: inline-block;
}
.form-rem input{
	display: inline-flex;
	color: white;
}
.login-box button{
	text-align: center;
	width: 320px;
	border: none;
	margin-left: 5px;
	height: 52px;
	background: #0A4D68;
	color: white;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 17px;

}
.login-box p{
	color: white;
	text-align: center;
	padding-top: 1px;
	font-size: 18px;
}
 .forget-pass{
	color: white;
	text-decoration: none;
	margin-left: 130px;
	font-size: 18px;
	margin-top: 50px;
}

/*add vehicle*/
.fullform{
	margin-left: 380px;
	padding-top: 100px;
}
.heading-title {
	font-size: 30px;
	text-decoration: underline;
	margin-left: 100px;

}
.add-input-box{
	margin-left: 3px;
	padding-top: 10px;
}
.add-input-box input{
	font-family: PT Serif;
	margin-top: 10px;
	width: 20%;
	padding: 12px;
/*	margin: 5px;*/
}
.add-input-box label{
	font-family: PT Serif;
	color: black;
	width: 151px;
  display: inline-block;
	height: 20px;
	font-size: 20px;
	margin-left: 20px;
	padding: 5px;
}
.add-input-box textarea{
	font-family: PT Serif;
	margin-top: 8px;
	color: black;
	width: 20%;
  display: inline-block;
	height: 75px;
	padding: 12px;
}
::placeholder{
	font-size: 15px;
	padding-left: 10px;
}
.btnAdd{
	font-family: Kanit;
	text-align: center;
	margin-top: 15px;
	margin-left: 24px;
	width: 168px;
	height: 52px;
	background: red;
	border: red;
	color: white;
	font-size: 25px;
}
/*list vehicle*/
.list{
	margin-left: 400px;
	padding-top: 150px;
}
.h1list{
	font-size: 40px;
	text-decoration: underline;
	margin-bottom: 18px;
	text-align: center;
}
.tablestyle{
    border:1px solid black;
    width: 90%;
    border-collapse:collapse;
}
.tablestyle tr,th,td{
    border:1px solid black;
    height: 40px;
    text-align: center;
}
.tablestyle th{
	font-size: 19px;
	font-family: PT Serif;
    background:lightgray;
}
.tablestyle td{
    font-size: 15px;
    font-family: Roboto;
}
.actioncol a{
	border: none;
	padding: 5px;            
	text-decoration:none;
    color:white;
}
.actioncol a.view{
    background:green;
    width: 20%;
}
.actioncol a.edit{
    background:blue;
    width: 20%;
}
.actioncol a.del{
    background:red;
    width: 20%;
}

/*Update Vehicle*/
.update-fullform{
	margin-left: 400px;
	padding-top: 100px;
}
.update-heading-title {
	font-size: 30px;
	text-decoration: underline;
	margin-left: 100px;

}
.update-input-box{
	margin-left: 3px;
	padding-top: 10px;
}
.update-input-box input{
	font-family: PT Serif;
	margin-top: 10px;
	width: 20%;
	padding: 12px;
/*	margin: 5px;*/
}
.update-input-box label{
	font-family: PT Serif;
	color: black;
	width: 151px;
  display: inline-block;
	height: 20px;
	font-size: 20px;
	margin-left: 20px;
	padding: 5px;
}
.update-input-box textarea{
	font-family: PT Serif;
	margin-top: 8px;
	color: black;
	width: 20%;
  display: inline-block;
	height: 75px;
	padding: 12px;
}
::placeholder{
	font-size: 15px;
	padding-left: 10px;
}
.btnUpdate{
	font-family: Kanit;
	text-align: center;
	margin-top: 15px;
	margin-left: 24px;
	width: 198px;
	height: 52px;
	background: red;
	border: red;
	color: white;
	font-size: 25px;
}
/*contact_list*/
.color-id{
	font-family: Robort;
}
